

.align {
    text-align: center;
    clear: both;
}
/* alings header on contact.html*//


.roman {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.black {
    background-color:	#303030;
    
}

.white{
    color: white;
}

.footer2 {
    width: 100%;
    height: 50px;
    background-color:grey;
    color: snow;
    text-align: center;
    padding-top: 10px;

}

.blankspace {
    height: 600px;
    width: 100%;
    background-color: #303030;
}

.times1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}

.times2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    

}
.times3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;

}